<?xml version="1.0" encoding="utf-8"?>
<package-def xmlns="http://oscript.io/schemas/lib-config/1.0">
    <class name="КэшУстановленныхПакетов" file="src/core/Классы/КэшУстановленныхПакетов.os"/>
    <class name="МенеджерПолученияПакетов" file="src/core/Классы/МенеджерПолученияПакетов.os"/>
    <class name="МенеджерУстановкиПакетов" file="src/core/Классы/МенеджерУстановкиПакетов.os"/>
    <class name="ОписаниеПакета" file="src/core/Классы/ОписаниеПакета.os"/>
    <class name="СборщикПакета" file="src/core/Классы/СборщикПакета.os"/>
    <class name="СерверПакетов" file="src/core/Классы/СерверПакетов.os"/>
    <class name="СериализацияМетаданныхПакета" file="src/core/Классы/СериализацияМетаданныхПакета.os"/>
    <class name="УстановкаПакета" file="src/core/Классы/УстановкаПакета.os"/>
    <module name="КонстантыOpm" file="src/core/Модули/КонстантыOpm.os"/>
    <module name="НастройкиOpm" file="src/core/Модули/НастройкиOpm.os"/>
    <module name="РаботаСВерсиями" file="src/core/Модули/РаботаСВерсиями.os"/>
    <module name="РаботаСОписаниемПакета" file="src/core/Модули/РаботаСОписаниемПакета.os"/>
    <module name="РаботаСПакетами" file="src/core/Модули/РаботаСПакетами.os"/>
    <module name="РежимУстановкиПакетов" file="src/core/Модули/РежимУстановкиПакетов.os"/>
    <module name="СерверыПакетов" file="src/core/Модули/СерверыПакетов.os"/>
    <module name="ОбщегоНазначенияOpm" file="src/core/Модули/ОбщегоНазначенияOpm.os"/>
</package-def>