<?xml version="1.0" encoding="utf-8"?>
<package-def xmlns="http://oscript.io/schemas/lib-config/1.0">
    <class name="КонсольноеПриложение" file="src/core/Классы/КонсольноеПриложение.os"/>
    <class name="КомандаПриложения" file="src/core/Классы/КомандаПриложения.os"/>
    <class name="ПараметрКоманды" file="src/core/Классы/ПараметрКоманды.os"/>
</package-def>