<?xml version="1.0" encoding="utf-8"?>
<package-def xmlns="http://oscript.io/schemas/lib-config/1.0">
    <class name="БДДАссерт" file="src/Классы/БДДАссерт.os"/>
    <class name="ИсключениеОшибкаУтверждения" file="src/Классы/ИсключениеОшибкаУтверждения.os"/>
    <module name="Ожидаем" file="src/Модули/Ожидаем.os"/>
    <module name="Утверждения" file="src/Модули/Утверждения.os"/>
</package-def>